<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DATA-HRI</title>
  <link rel="stylesheet" href="{{url_for('static',filename='static/css/styles.css')}}">
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="#about">Data-HRI</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav>
    <div class="title">
        <h1>Bienvenido</h1>
    </div>
    <div class="hero-content">
        <img class="profile-image" src="{{url_for('static',filename='static/images/DATA-HRI-WF.png')}}" alt="DATA-HRI APP">
        <h1>DATA-HRI</h1>
        <span></span>
        <p>Conoce el estado de tu Salud Cardiovascular</p>
    </div>   
  </header>

  <section id="questions">
    <h2>Preguntas</h2>
      <div class="question">
        <form method="POST">
          <p>Ingresa tu nombre: ¿Cuál es tu nombre?</p>
          <input type="text" id="answer1">
        </form>
      </div>
      <div class="question">
        <form method="POST">
          <p>Pregunta 1: ¿Cuál es tu edad?</p>
          <input type="number" id="answer2">
        </form>
      </div>
    <!-- Agregar Preguntas Necesarias-->
    <form method="POST">
    <button id="enviar">enviar</button>
    <div id="prediction-result"></div>
    </form>
  </section>


  <section id="about">
    <h2>Sobre DATA-HRI</h2>
    <div class="blog-post">
      <img src="{{url_for('static',filename='static/images/Imagen Corazón.jpg')}}" alt="Imagen 1">
      <h3>Una app que te ayuda con tu salud</h3>
      <p>Modelo predictivo que permite conocer tu nivel de riesgo con respecto a enfermedades de indole cardiovascular</p>
      <a href="">Read more</a>
    </div>
  </section>
 
  <section id="contact">
    <h2>Contacto</h2>
    <ul class="social-icons">
        <li> 
            <a href="" target="_blank" class="social-icon" id="LinkedIn">
                <img src="" alt="LinkedIn"/>
            </a> 
        </li>

        <li> 
            <a href="" target="_blank" class="social-icon" id="Twitter">
                <img src="" alt="Twitter"/>
            </a> 
        </li>

        <li> 
            <a href="" target="_blank" class="social-icon" id="Youtube">
                <img src="" alt="Youtube"/>
            </a> 
        </li>

        <li> 
          <a href="" target="_blank" class="social-icon" id="GitHub">
              <img src="" alt="GitHub"/>
          </a> 
      </li>

        </ul>
    <p>
      Equipo: DATA-HRI <br>
      Repositorio: <br>
    </p>
  </section>

  <footer>
    <p>&copy; 2023. All rights reserved.</p>
  </footer>

</body>
</html>
