<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DATA-HRI</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="#about">Data-HRI</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav>
    <div class="title">
        <h1>Bienvenido</h1>
    </div>
    <div class="hero-content">
        <img class="profile-image" src="visual/DATA-HRI-WF.png" alt="DATA-HRI APP">
        <h1>DATA-HRI</h1>
        <span></span>
        <p>Conoce el estado de tu salud Cardiovascular</p>
    </div>   
  </header>

  <section id="questions">
    <h2>Preguntas</h2>
      <div class="question">
          <p>Ingresa tu nombre: ¿Cuál es tu nombre?</p>
          <input type="text" id="answer1">
      </div>
      <div class="question">
          <p>Pregunta 1: ¿Cuál es tu edad?</p>
          <input type="number" id="answer2">
      </div>
    <!-- Agregar Preguntas Necesarias-->
    <button id="enviar">enviar</button>
    <div id="prediction-result"></div>
  </section>
  

  <section id="about">
    <h2>Sobre DATA-HRI</h2>
    <div class="blog-post">
      <img src="" alt="Imagen 1">
      <h3>Una app que te ayuda con tu salud</h3>
      <p>Modelo predictivo que permite conocer tu nivel de riesgo con respecto a enfermedades de indole cardiovascular</p>
      <a href="">Read more</a>
    </div>
  </section>
 
  <section id="contact">
    <h2>Contacto</h2>
    <ul class="social-icons">
        <li> 
            <a href="" target="_blank" class="social-icon" id="LinkedIn">
                <img src="" alt="LinkedIn"/>
            </a> 
        </li>

        <li> 
            <a href="" target="_blank" class="social-icon" id="Twitter">
                <img src="" alt="Twitter"/>
            </a> 
        </li>

        <li> 
            <a href="" target="_blank" class="social-icon" id="Youtube">
                <img src="" alt="Youtube"/>
            </a> 
        </li>

        <li> 
          <a href="" target="_blank" class="social-icon" id="GitHub">
              <img src="" alt="GitHub"/>
          </a> 
      </li>

        </ul>
    <p>
      Equipo: DATA-HRI <br>
      Repositorio: <br>
    </p>
  </section>

  <footer>
    <p>&copy; 2023. All rights reserved.</p>
  </footer>

   <!-- Add more project divs as needed  <script src="script.js"></script>
  // Add any JavaScript functionality you need for your portfolio page here -->

</body>
</html>

<!-- Google tag (gtag.js) 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FE1PDP7XW7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FE1PDP7XW7');
</script> -->
  