/* Estilos del Body, Tipo de Letra y Margen */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del Header # Etiqueta Header */
header {
  background-color: #2F4550;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-right: 10px;
}

header nav li a {
  text-decoration: none;
  color: #cedce6;
  padding: 5px;
}

header nav li a:hover {
  color: #000000;
}

/* Estilo de Etiqueta Section*/
section {
  background-color: #cedce6;
  color: #000000;
  padding: 10px;
}

/*Estilo de las sección Inferiores (Preguntas) */
section {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: red;
}


.title  {     
  font-family:Georgia, Cochin, Gseorgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color: #fff;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  border-radius: 80%;
}

.hero{
  background-size: cover;
  color: #00026bdc;
  text-align: center;
  padding: 100px 0;
}

.profile-image {
  width: 17%;
  height: 17%;
  border-radius: 80%;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}


footer {
  background-color: #2F4550;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#about {     
  text-align: center;
}

#about p {
  text-align: justify; /* Mejor vista justificado */
  text-align: center;
}


.horizontal-list {
  display: flex;
  list-style: none;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: center; /* Center the entire list horizontally */
}

.horizontal-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.horizontal-list img {
  width: 60px; /* Adjust the width of the icons as needed */
  height: 60px; /* Adjust the height of the icons as needed */
  background: #cedce6; /* Apply the background color here */
}


/* Add styles for the blog section */
#blog {
  text-align: center;
  padding: 1px 0;
}

.blog-post {
  margin-bottom: 30px;
}

.blog-post img {
  width: 100%;
  max-width: 200px; /* Ajuste del tamaño según diseño */
  border-radius: 80px;
  margin-left: 40px;
}

.blog-post h3 {
  font-size: 24px;
  margin: 10px 0;
}

.blog-post p {
  margin-bottom: 10px;
}

.blog-post a {
  text-align: center;
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  /*margin-left: 60px;*/
  text-decoration: none;
}

.blog-post a:hover {
  background-color: #0056b3;
}

/* Estilos Contactos  */

.social-icons {
  display: flex;
  justify-content: space-between; /* Center the icons horizontally */
  align-items: center; /* Center */
  flex-direction: row; /* Display icons and names in a column */
  margin-top: 40px;
  list-style: none;
}

.social-icons li {
  text-align: center;
  margin-top: 18%px; /* Add spacing between icons */
}

.social-icons .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

.social-icons #GitHub {
  background: #171515;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #333;
  text-align: center; /* Center the names */
}


a {
  color: #333;
}
